* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(76, 35, 145);
}

body {
    width: 1900px;
    margin: auto;
}

p {
    line-height: 32px;
}

nav {
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
}

.logo > ul {
    display: flex;
}

.sections {
    margin: 0 100px;
}

.section-one {
    margin: auto;
}

.section-one-container {
    width: 100%;
    height: 790px;
    background-image: url(./images/background.webp);
    background-position: center;
    background-size: cover;
}

.intro-container {
    padding-top: 100px;
    margin: 120px auto;
    width: 900px;
    /*border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-container > p {
    margin: 16px;
    font-size: 22px;
}

h1 {
    font-size: 52px;
    font-weight: 500;
    text-align: center;
}

a {
    text-decoration: none;
}

.intro.icons {
    display: flex;
    gap: 48px;
}

.icon {
    width: 140px;
    margin: 60px 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.icon img{
    width: 100px;
    /* border: 1px solid #000; */
    border-radius: 16px;
    box-shadow: 5px 2px 1px #fff;
}

.icon p,
.boxs2 p {
    margin: 30px 0;
}

.icon:hover {
    background-color: rgb(239, 225, 249);
    box-shadow:(22.7119px 23.941px 80px rgba(74,45,197,.11));
}

.section-two-container {
    margin-top: 200px;
    width: 100%;
}

.section-two {
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-two img {
    margin-right: -90px;
}

.boxs2 {
    width: 700px;
    height: 200px;
}

h3 {
    font-size: 34px;
    font-weight: 500;
}

.button {
    font-size: 26px;
    font-weight: 700;
    background-color: blueviolet;
    padding: 20px 40px;
    border-radius: 40px;
    border-style: none;
}

.button a {
    color: #fff;
}

.button:hover {
    /* cursor: default; */
    background-color: rgb(117, 37, 192);
}


.boxs3 img {
    height: 45px;
    /* border: 1px solid #000; */
}

.section-three-container {
    width: 100%;
}

.section-three {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-three h3,
.section-three p {
    text-align: center;
}

.section-three > p {
    width: 800px;
    margin: 40px auto;
    font-size: 20px;
}

.color {
    display: inline;
    color: blueviolet;
}

.boxs3 {
    margin-top: 180px;
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
}

.boxs3a,
.boxs3b,
.boxs3c,
.boxs3d {
    padding: 20px;
    /* border-left: 1px solid #000; */
}

.boxs3a {
    border-bottom: 1px solid #ddd;
}
.boxs3b {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.boxs3c {
    border-right: 1px solid #ddd;
}

.boxs3a1 {
    width: 380px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.boxs3a a p,
.boxs3b a p,
.boxs3c a p,
.boxs3d a p {
    margin: 20px 0;
    text-align: left;
}

.discover {
    display: flex;
    align-items: center;
    gap: 20px;
    /* color: blueviolet; */
}

.underline-animation,
.underline {
    display: inline-block; /*used to make the underline span same as the width of the text*/
    position: relative;
    color: blueviolet;
}

.underline-animation:after,
.underline:after {
    content: '';
    position: absolute;
    width: 100%; /*with :after and positioning allows to place the effect under the content*/
    transform: scaleX(0); /*used to hide initially the element*/
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blueviolet;
    transform-origin: bottom left; /*animate the underline*/
    transition: transform 0.25s ease-out; /*animate the underline*/
}

h4 strong,
.discover i {
    color: blueviolet;
}

.boxs3a,
.boxs3b,
.boxs3c,
.boxs3d {
    padding: 20px;
    /* border-left: 1px solid #000; */
}

.boxs3 a:hover .boxs3a1 {
    border: 1px solid blueviolet;
}

.boxs3 a:hover .underline-animation:after {
    /* text-decoration: underline; */
    transform: scale(1); /*used to show the element*/
    transform-origin: bottom left;
}



.section-four-container {
    width: 100%;
    margin-top: 300px;
}

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-four h1 {
    margin: 100px 0 400px 0;
    width: 1000px;
}

.boxs4 {
    /* width: 1600px; */
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.boxs4a {
    width: 500px;
    margin-top: 20px;
}

.boxs4a p {
    margin: 20px 0;
}

.boxs4a a,
.boxs6a a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxs4a i,
.boxs6a i {
    color: blueviolet;
}

.boxs4a a:hover .underline:after {
    /* text-decoration: underline; */
    transform: scale(1); /*used to show the element*/
    transform-origin: bottom left;
}

.section-five-container {
    width: 100%;
    height: 600px;
}

.boxs5 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 200px 100px;
}

.boxs5a {
    width: 700px;
    height: 400px;
    background: linear-gradient(#6926cd, #430f6d);
    border-radius: 30px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxs5a p {
    color: #fff;
    font-size: 24px;
}

.boxs5a img {
    border-radius: 100px;
}

.boxs5a div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.boxs5a div p {
    font-size: 18px;
}

.section-six-container {
    width: 100%;
    margin-top: 250px;
}

.section-six {
    display: flex;
    gap: 300px;
    margin-left: 150px;
}

.boxs6img {
    width: 600px;
    position: relative;
    z-index: 0;
}

.boxs6img img {
    width: 600px;
    height: 760px;
    border-radius: 25px;
    object-fit: cover;
}

.boxs6a {
    position: absolute;
    z-index: 1;
    left: -150px;
    top: 150px;
    width: 600px;
    height: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0.1px 0.1px 20px 0.5px #bbb;
}

.boxs6a > p {
    margin: 30px 0;
    color:black;
    font-size: 18px;
}

.boxs6a a:hover .underline:after {
    /* text-decoration: underline; */
    transform: scale(1); /*used to show the element*/
    transform-origin: bottom left;
}

.section-seven-container {
    width: 100%;
}

.section-seven {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.section-seven img {
    width: 100px;
}

.section-seven button {
    margin: 40px 0;
}

.section-seven p {
    font-size: 20px;
}

.section-eight-container {
    width: 100%;
}

.section-eight {
    margin-top: 200px;
    display: flex;
    gap: 80px;
}

.section-eight img {
    margin-left: -120px;
}

.boxs8 {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.boxs8 img {
    height: 90px;
    margin-left: -30px;
}

.boxs8 button {
    margin-top: -15px;
    width: fit-content;
}